<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Project</title>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
    <style type="text/css">

    body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, b, i, dl, dt, dd, ol, ul, li, table, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align: baseline;
        font-size: 16px;
        font-family: "Source Sans Pro", serif;
        font-weight: 300;
        line-height: 16px;
        color:#000000;
        margin:0px;
        text-align: left;
    }

    h1 {
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 0.4cm;
    }
    h2 {
        font-weight: 300;
        color: #333333;
        margin-bottom: 0.2cm;
    }
    p {
        padding:0;
        margin:0;
    }

    .item-image {
        max-width: 4.2cm;
        max-height: 8cm;
        margin-bottom: 0.4cm;
    }

    #image-container {
        margin-bottom: 1cm;
    }

    #image-container td {
        text-align: center;
    }
    #image-container .first {
        padding: 0;
        text-align: left;
    }
    #image-container .last {
        padding: 0;
        text-align: right;
    }

    table {
        width: 100%;
        page-break-inside: auto;
        border-collapse: collapse;
        border-spacing: 0;
    }
    table td {
        text-align: left;
    }
    ol, ul {
        list-style: none;
    }

    .page-break {
        page-break-after: always;
    }
    .footer {
        position: absolute;
        bottom: 0;
        width:100%;
        margin:0 auto;
        font-size: 8pt;
        text-align: center;
    }
    #logo {
        width: 10cm;
    }
    #logo-container {
        text-align: right;
        padding-bottom: 1.2cm;
    }

    #data-container {
        font-weight: 300;
        font-size: 15px;
        color: #333333;
    }

    #data-container td {
        border-top: 0.5pt solid #333333;
        border-bottom: 0.5pt solid #333333;
        padding: 0.05cm 0.2cm 0.1cm;
    }

    #data-container .label {
        width: 6cm;
        font-weight: 400;
    }
    </style>
</head>
<body>
    <table id="main-container">
        <tr>
            <td id="logo-container">
                <!--<img id="logo" src="{!! base64ImageSource(resource_path('assets/images/BGA_Logo_Pink.png')) !!}" />-->
            </td>
        </tr>
        <tr>
            <td>
                <h1>{{project.title}}</h1>
            </td>
        </tr>
    </table>
    <div class="footer">
    </div>
</body>
</html>
