<fieldset>
    <legend class="h6">Send to Rentman</legend>
    <div class="meta">
        <div class="field">
            <div class="input ltr">
                <button type="button" id="submit-to-rentman" class="btn" data-action="/admin/actions/rentman-for-craft/api/submit-project-to-rentman" data-project="{{ project.id }}">{{ 'Send project to Rentman'|t('rentman-for-craft') }}</button>
                <p class="hidden">Successfully sent</p>
            </div>
        </div>
    </div>
</fieldset>