{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Rentman for Craft plugin for Craft CMS
 *
 * RentmanForCraftWidget Widget Body
 *
 * @author    Furbo GmbH
 * @copyright Copyright (c) 2022 Furbo GmbH
 * @link      https://furbo.ch
 * @package   RentmanForCraft
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@furbo/rentmanforcraft/assetbundles/rentmanforcraftwidgetwidget/dist', true) ~ '/img/RentmanForCraftWidget-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
