<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>BLOW UP rental - Anfrage</title>
   	<style type="text/css">
   		body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, b, i, dl, dt, dd, ol, ul, li, table, tr, th, td {
   			margin: 0;
   			padding: 0;
   			border: 0;
   			font-size: 13px;
   			line-height: 15px;
   			letter-spacing:0.02em;
   			vertical-align: baseline;
		}

        @font-face {
            font-family: "Font-Awesome";
            src: url('fonts/fontawesome-webfont.ttf');
        }
        @page {
        	margin: 44.2px 65px 60px 65px;
        }
		body {
			font-family: "Helvetica";
			color:#000000;
			margin:0;
			text-align: left;
		}
		h1 {
            font-size: 18px;
   			line-height: 24px;
            margin-bottom: 12px;
		}
		h2 {
            font-size: 13px;
   			line-height: 15px;
            margin-bottom: 6px;
		}
		a {
			color: #000000;
			text-decoration:none;
		}

		.page-break {
            page-break-after: always;
        }
        .no-page-break {
        	page-break-inside: avoid;
        }

		.table-order-items {
			width:100%;
			border-collapse: separate;
			border-spacing: 0 10px;
		}
		.table-order-items tr th{
			font-weight: bold;
			text-align: left;
		}

		.table-order-items tr.category {
			border-top:1pt red solid;
			padding-top:6px;

		}
		.table-order-items tr.category td{

		}


	</style>
</head>