<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>BLOW UP rental - Anfrage</title>
   	<style type="text/css">
   		body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, b, i, dl, dt, dd, ol, ul, li, table, tr, th, td {
   			margin: 0;
   			padding: 0;
   			border: 0;
   			font-size: 12px;
   			line-height: 14px;
   			letter-spacing:0.02em;
   			vertical-align: baseline;
		}

        @font-face {
            font-family: "Font-Awesome";
            src: url('fonts/fontawesome-webfont.ttf');
        }
        @page {
        	/*margin: 44.2px 65px 60px 65px;*/
			margin: 2cm 2cm 2cm 2cm;
        }
		body {
			font-family: "Helvetica";
			color:#000000;
			margin:0;
			text-align: left;
		}
		h1 {
            font-size: 18px;
   			line-height: 24px;
            margin-bottom: 12px;
		}
		h2 {
            font-size: 13px;
   			line-height: 15px;
            margin-bottom: 6px;
		}
		hr {
			border-top: 1pt black solid;
		}

		a {
			color: #000000;
			text-decoration:none;
		}

		.page-break {
            page-break-after: always;
        }
        .no-page-break {
        	page-break-inside: avoid;
        }



		#logo {
			width:7cm;
			margin-bottom: 1cm;
		}

		.table-order-items {
			width:100%;
			border-collapse: separate;
			border-spacing: 0 4px;
		}
		.table-order-items tr th{
			font-weight: bold;
			text-align: right;
		}
		.table-order-items tr th.title{
			text-align: left;
		}
		.table-order-items tr th.kg,
		.table-order-items tr td.kg
		{
			margin-left:4px;
		}

		.table-order-items tr.category {
		}
		.table-order-items tr.category td{
			font-weight: bold;
			border-top:2pt #333333 solid;
			padding-top:4px;
		}
		.table-order-items tr.product td{
			border-top:1pt #999999 solid;
			padding-top:4px;
			text-align: right;
		}
		.table-order-items tr.product td.title{
			text-align: left;
			margin-left:12px;
		}
		.table-order-items tr.total td{
			font-weight: bold;
			border-top:2pt #333333 solid;
			padding-top:4px;
			text-align: right;
		}


	</style>
</head>