<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>BLOW UP rental - Anfrage</title>
   	<style type="text/css">
   		body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, strong, b, i, dl, dt, dd, ol, ul, li, table, tr, th, td {
   			margin: 0;
   			padding: 0;
   			border: 0;
   			font-size: 13px;
   			line-height: 15px;
   			letter-spacing:0.02em;
   			vertical-align: baseline;
		}

        @font-face {
            font-family: "Font-Awesome";
            src: url('fonts/fontawesome-webfont.ttf');
        }
        @page {
        	margin: 44.2px 65px 60px 65px;
        }
		body {
			font-family: "Helvetica";
			color:#000000;
			margin:0px;
			text-align: left;
		}
		h1 {
            font-size: 18px;
   			line-height: 24px;
            margin-bottom: 12px;
		}
		h2 {
            font-size: 13px;
   			line-height: 15px;
            margin-bottom: 6px;
		}
		a {
			color: #000000;
			text-decoration:none;
		}
		p {
			padding:0;
			margin:0;
            margin-bottom: 20px;
		}
		img {
			display:inline;
		}
        dl {
            width: 50%;
            margin-bottom: 20px;
        }
        dt {
            display: inline-block;
            width: 180px;
        }
        dd {
            display: inline-block;
        }
		table {
			width: 100%;
			page-break-inside: auto;
			border-collapse: collapse;
            border-spacing: 0;
		}
		table td {
			text-align: left;
		}

        hr {
            border: 0; height: 0; border-top: 1px solid black;
        }

        .fa {
            font-family: "Font-Awesome";
            font-style: normal
        }


		#header {
            width: 100%;
            text-align: left;
            margin-bottom: 30pt;
        }

        #header #logo {
            width: 200pt;
            height: auto;
            margin-bottom: 0.5rem;
        }

        table#address tr td {
            width: 50%;
        }

        #content {
        	page-break-after: always;
            margin-bottom: 3rem;
        }
        #content table {
        	width: 100%;
            margin-top: 2rem;
        }
        #content:last-of-type {
        	page-break-after:auto;
        }

        table.table-order-items tr th {
            font-weight: normal;
            font-size: 10px;
			text-align: left;
        }

        table.table-order-items tr td {
			width: 12%;
            padding-top: 12px;
            padding-bottom: 2px;
            padding-left: 2px;
            border-bottom: 1px solid black;
		}


		table.table-order-items tr.category {
			padding-top: 12px;
			border-top: 1px solid green;
		}
		table.table-order-items tr.category td {
			column-span: 5;
			background-color: red;
			font-size: 12px;
			line-height: 14px;
			padding-left: 0;
			width: 100%;

		}

        table.table-order-items tr.order-item td {
            border-bottom: 0px solid black;
            padding-top: 2px;
		}

		table.table-order-items tr td:nth-of-type(1) {
			width: 28%;
		}

        table.table-order-items tr.order-total td {
            border-top: 1px solid black;
            border-bottom: 4px double black;
            font-weight: bold;
        }

        .text-right {
            text-align: right;
        }

		#footer {
		    position: fixed;
		    bottom: 0;
            width: 100%;
		}

        #footer table {
            width: 100%;
        }

        #footer table td {
            width: 50%;
            font-size: 10px;
        }

		.pagenum:before {
		    content: counter(page);
            font-size: 10px;
		}

		.page-break {
            page-break-after: always;
        }
        .no-page-break {
        	page-break-inside: avoid;
        }

	</style>
</head>